body {
    margin: 0;
    padding: 0;
    background: #70c5ce;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
canvas {
    border: 2px solid #000;
    background: #fff;
}
